<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; Alpha Blog by <a href="http://daniellagos.com">Daniel Lagos</a>
    </small>
    <nav>
      <ul>
        <li><a href="https://www.linkedin.com/in/d-lagos/">My LinkedIn</a>
        <li><a href="https://github.com/danlagos/alpha-blog">Code to Alpha Blog</a>        <li><a class="btn-github" href="https://github.com/danlagos">My GitHub</a>
        <li><%= link_to "About", about_path %></li>  
      </ul>
    </nav>
  </footer>
</div>
