<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; Alpha Blog by <a href="http://daniellagos.com">Daniel Lagos</a>
    </small>
    <nav>
      <ul>
        <li><a class="btn-github" href="https://github.com/danlagos">github</a>
        <li><%= link_to "About", about_path %></li>
        
      </ul>
    </nav>
  </footer>
</div>
